<h1>Login</h1>

<form>
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Password"/>
  <button id="submitBtn">Submit</button>
</form>


