<h1>Users!!!!!</h1>
<p>{{sentence}}</p>
<p>{{visitCount}} I am visit count</p>

{{#if loggedInUser}}
  <h1>Welcome {{loggedInUser.username}}</h1>
{{/if}}

<form>
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Password"/>
  <button id="submitBtn">Submit</button>
</form>

<ul class="userList">
  {{#each users}}
    {{> users/list_render_partials}}
  {{/each}}
</ul>

